@tailwind base;
@tailwind components;
@tailwind utilities;


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease;
    transform: scale(1);
    opacity: 1;
}

.modal-overlay[aria-hidden="true"] .modal-content {
    transform: scale(0.95);
    opacity: 0;
}